/* GENERAL */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

button,
button:focus {
    outline: none;
    cursor: pointer;
}

/* UTILITIES */
.block {
    display: block;
}

.central {
    margin: auto;
}

.flex-w {
    display: flex;
    flex-wrap: wrap;
}

.green {
    background: green;
}

.hidden {
    opacity: 0;
    z-index: 0;
}

.pale-brown {
    background: #b0a06c;
}

.red {
    background: rgb(166, 22, 10);
}

.relative {
    position: relative;
}

.show {
    opacity: 1;
    z-index: 1;
}

.text-center {
    text-align: center;
}

.white {
    background: #fff;
}

.white-color {
    color: #fff;
}


/* APP */
.app {
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-repeat: repeat;
    height: 100vh;
}


/* MAIN */
main {
    padding: 20px;
}

/* HEADER */
.header h2 {
    padding: 10px;
    border-radius: 0 0 10px 10px;
} 


/* Main: HOUSE-AREA */
.house-area {
    flex-basis: 40%;
}

.house-area .croupier {
    display: inline-block;
    margin: 15px;
    height: 250px;
}

.house-area .croupier img {
    object-fit: cover;
    height: 100%;
}

.house-box {
    padding: 25px;
    top: -250px;
    left: 55%;
    background: #fff;
    width: 300px;
    font-size: 130%;
    border-radius: 10px;
}

.house-box .corner {
    position: absolute;
    background: #fff;
    width: 25px;
    height: 25px;
    top: 35%;
    left: 0;
    transform: rotate(45deg) translateX(-60%)
}

/* Main: PLAYER-AREA */
.player-area {
    flex-basis: 60%;
}


/* Main: player-area: LOGIN-WRAPPER */
.login-wrapper {
    margin-top: 25px;
    width: 400px;
    border: 5px solid #b0a06c;
    border-radius: 10px;
    transition: opacity 1s;
}

.login-wrapper * {
    padding: 10px;
}

.input-box {
    width: 90%;
}

.input-box input {
    width: 255px;
}

#login-button {
    margin-bottom: 10px;
    width: 90%;
    border-radius: 5px;
    font-size: 120%;
    font-weight: 700;
}


/* Main: player-area: GAME-WRAPPER */
.game-wrapper {
    top: -168px;
    margin-top: 15px;
    padding: 10px;
    width: 400px;
    border: 5px solid #b0a06c;
    border-radius: 10px;
    transition: opacity 1s;
}

#roll-button {
    margin-bottom: 10px;
    padding: 10px;
    width: 90%;
    border-radius: 5px;
    background: green;
    font-size: 120%;
    font-weight: 700;
}

.dice-area {
    margin-top: 15px;
    margin-bottom: 25px;
    width: 100%;
    justify-content: space-around;
    border: 2px solid #b0a06c;
    border-radius: 10px;    
}

.die-box {
    flex-direction: column;
    margin: 10px 0;
    justify-content: center;
    align-items: center;
}

.die-box i {
    margin: 25px 0;
    font-size: 600%;
    color: rgb(166, 22, 10);
}

#logout-button {
    padding: 10px;
    margin-bottom: 10px;
    width: 40%;
    border-radius: 5px;
    font-weight: 700;
}


@media screen and (max-width: 1140px) {
    .house-area .croupier {
        display: inline-block;
        margin: 15px;
        height: 175px;
    }

    .house-box {
        padding: 25px;
        top: -200px;
        left: 55%;
        background: #fff;
        width: 250px;
        border-radius: 10px;
    }

    .player-area {
        padding-left: 50px;
    }

    .game-wrapper {
        margin-top: 0;
        top: -188px;
    }
}